.btn {
  width: 80px;
  height: 80px;
  border-style: outset;
  text-align: center;
  background: #FFFFFF;
}

.expressao {
  width: 400px;
  height: 40px;
  border-style: inset;
  text-align: right;
  background: #FFFFFF;
}

.main {
  width: 400px;
  background: gray;
}
